<% provide(:title, "PETER BARNES") %>
<% provide(:subtext, "I am a software developer with a passion to create functional, innovative, and attractive applications.") %>
<div class="row">
  <div class="col-md-12 jumbotron">
    <h1>MY NAME IS 
      <span class="blue">PETER BARNES</span> AND MY GOAL IS TO CREATE
      <span class="blue">FUNCTIONAL</span>, 
      <span class="blue">INNOVATIVE</span>, AND 
      <span class="blue">ATTRACTIVE</span> APPLICATIONS.
    </h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 jumbotron clearfix">
    <h1>THIS IS WHAT I <span class="blue">DO</span></h1>
    <div class="details">
      <a href="/projects#gameroom"><%= image_tag('gameroom.png', size: '610x300', class: "img-responsive img-thumbnail") %></a>
    </div>
  </div>
  <div class="col-md-4 jumbotron clearfix">
    <blockquote class="long-text">
      The Gameroom is a local business in Lincoln, NE that specializes in all kinds of media.  They sell everything from games to movies to electronics and they needed a website!  This website allows users to get information on store locations, send emails to the store, see what specials are going on, and much more!
    </blockquote>
    <p>You can view some of my projects <a href="/projects">here</a></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 jumbotron">
    <h1 class="no-bottom">THIS IS HOW I <span class="blue">CODE</span></h1>
    <h1 class="no-bottom"><span class="blue">WEB APPS</span></h1>
    <p class="long-text">Web apps are so widely used now that it is basically essential to develop web apps as a programmer.  &nbsp;When writing web apps I work primarily in the 
      <a href="http://rubyonrails.org/" target="blank" class="long-text">Ruby on Rails</a> framework which requires a strong knowledge of 
      <a href="http://en.wikipedia.org/wiki/HTML" target="blank" class="long-text">HTML</a>, 
      <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="blank" class="long-text">CSS</a>, 
      <a href="http://en.wikipedia.org/wiki/JavaScript" target="blank" class="long-text">Javascript</a>, and 
      <a href="https://www.ruby-lang.org/en/" target="blank" class="long-text">Ruby</a>.</p>
    <p class="long-text">For projects that don't require the amount of power that rails gives you, I prefer <a href="http://www.sinatrarb.com/" target="blank" class="long-text">Sinatra</a> as a light-weight framework that still gives you many of the advantages that come with using Ruby as a web-development language</p>
    <p class="long-text">FYI, the site you are viewing right now was built with Ruby on Rails!</p>
    <hr>
    <h1 class="no-bottom"><span class="blue">WHAT I USE</span></h1>
    <p class="long-text">I use 
      <a href="https://www.apple.com/osx/" target="blank" class="long-text">OS X</a> as my operating system and 
      <a href="http://www.sublimetext.com/2" target="blank" class="long-text">Sublime Text 2</a> as my text editor.</p>
    <p class="long-text">For testing Rails and Sinatra apps in development, I use <a href="http://pow.cx/" target="blank" class="long-text">Pow</a>.</p>
    <p class="long-text">When a web app is ready for production, I use <a href="https://dashboard.heroku.com/apps" target="blank" class="long-text">Heroku</a>.</p>
    <hr>
    <p class="long-text">When writing iOS and OS X apps I use <a href="https://developer.apple.com/xcode/downloads/" target="blank" class="long-text">Xcode</a>.</p>
  </div>
</div>