<% provide(:title, "PETER BARNES") %>
<% provide(:subtext, "I am a software developer with a passion to create functional, innovative, and attractive applications.") %>
<div class="row">
  <div class="col-md-12 jumbotron">
    <h1 class="text-center">My name is 
      <span class="blue emp">PETER BARNES</span> and my goal is to create 
      <span class="blue emp">FUNCTIONAL</span>, 
      <span class="blue emp">INNOVATIVE</span>, and 
      <span class="blue emp">ATTRACTIVE</span> applications.
    </h1>
  </div>
</div>