- provide(:title, "RESUME")
- provide(:subtext, "Software development is a field where your credibility is determined by your accomplishments and experience, below is my resume.")
.row
  .col-md-10.col-md-offset-1.panel.panel-default.resume
    %h3.no-bottom.lead
      Peter Barnes
    %p.no-bottom
      2300 S 75th St, Lincoln NE, 68506
    %p.no-bottom
      (402) 525-7677
    %p
      %a{ href: 'mailto:barnespeter213@gmail.com', target: '_top' }
        barnespeter213@gmail.com

    %h3.no-bottom.lead
      Objective
    %hr.resume-break
    %p.indented
      Obtain a position on a dynamic software development team that promotes creativity, functionality, and design.
    
    %h3.no-bottom.lead
      Education
    %hr.resume-break
    .indented
      %p.no-bottom
        Lincoln Southeast High School, Lincoln, Nebraska
        %span.pull-right
          2013 - Present
      %p
        Expected graduation: May 2015
      %p
        &nbsp;
      %p
        Lincoln East Hight School, Lincoln, Nebraska
        %span.pull-right
          2011 - 2013

    %h3.no-bottom.lead
      Experience
    %hr.resume-break
    .indented
      %p.no-bottom
        Software Developer
        %span.pull-right
          2014 - Present
      %p
        %a{ href: "http://www.infinitetoken.com", target: 'blank' }
          Infinite Token
      %ul
        %li
          \- Write software in a team
        %li
          \- Solve difficult programming problems
        %li
          \- Created software for Gameroom employees
        %li
          \- Created a CSS server for common styling across all applications
        %li
          \- Created and maintained the Gameroom website
      %p.no-bottom
        Sales Associate
        %span.pull-right
          2013 - 2014
      %p.no-bottom
        Gameroom
      %p
        1713 O St, Lincoln NE
      %ul
        %li
          \- Manage cash register
        %li
          \- Provide customer service
        %li
          \- Answer/field phone calls
        %li
          \- Reorganized resources to improve the efficiency and quality of merchandise
        %li
          \- Created and serviced multiple stations to maintain organization

    %h3.no-bottom.lead
      Interests
    %hr.resume-break
    %ul.indented
      %li
        \- Software development
      %li
        \- Design
      %li
        \- New technologies 
      %li
        \- Music

    %h3.no-bottom.lead
      Skills/Abilities
    %hr.resume-break
    %ul.indented
      %li
        \- Extensive knowledge of Ruby, HTML, CSS, and Javascript
      %li
        \- Proficiency in both UNIX and Windows environments
      %li
        \- Works well under pressure
      %li
        \- I am reliable and take committment seriously
      %li
        \- I am creative and have robust problem-solving skills

  .col-md-10.col-md-offset-1
    %h3
      My resume is available in pdf form 
      %a{ href: 'http://www.pcbarnes.com/resume/resume.pdf', target: 'blank' }
        here

