<% provide(:title, "RESUME") %>
<% provide(:subtext, "Software development is a field where your credibility is determined by your accomplishments and experience, below is my resume.") %>
<div class="row">
  <div class="col-md-12 panel panel-default resume">
    <h3 class="no-bottom lead">Peter Barnes</h3>
    <p class="no-bottom">2300 S 75th St, Lincoln NE, 68506</p>
    <p class="no-bottom">(402)-525-7677</p>
    <p><a href="mailto:barnespeter213@gmail.com" target="_top">barnespeter213@gmail.com</a></p>
    <h3 class="no-bottom lead">Objective</h3>
    <hr class="resume-break">
    <p class="indented">Obtain a position on a dynamic software development team that promotes creativity, functionality, and design.</p>
    <h3 class="no-bottom lead">Education</h3>
    <hr class="resume-break">
    <div class="indented">
      <p class="no-bottom">Lincoln Southeast High School, Lincoln, Nebraska <span class="pull-right">2013 - Present</span></p>
      <p>Expected Graduation: May 2015</p>
      <p>&nbsp;</p>
      <p>Lincoln East High School, Lincoln, Nebraska <span class="pull-right">2011-2013</span></p>
    </div>
    <h3 class="no-bottom lead">Experience</h3>
    <hr class="resume-break">
    <div class="indented">
      <p class="no-bottom">Software Developer <span class="pull-right">2014 - Present</span></p>
      <p><a href="http://www.infinitetoken.com" target="blank">Infinite Token</a></p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-minus"></i>Write software in a team</li>
        <li><i class="fa-li fa fa-minus"></i>Solve difficult programming problems</li>
        <li><i class="fa-li fa fa-minus"></i>Created software for Gameroom employees</li>
        <li><i class="fa-li fa fa-minus"></i>Created a CSS server for universal styling across all common applications</li>
        <li><i class="fa-li fa fa-minus"></i>Created and maintained the Gameroom Website</li>
      </ul>
      <p class="no-bottom">Sales Associate <span class="pull-right">2013 - 2014</span></p>
      <p class="no-bottom">Gameroom</p>
      <p>1713 O St, Lincoln NE</p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-minus"></i>Manage cash register</li>
        <li><i class="fa-li fa fa-minus"></i>Provide customer service</li>
        <li><i class="fa-li fa fa-minus"></i>Answer/field phone calls</li>
        <li><i class="fa-li fa fa-minus"></i>Reorganized resources to improve the efficiency and quality of merchandise</li>
        <li><i class="fa-li fa fa-minus"></i>Created and serviced multiple stations to maintain organization</li>
      </ul>
    </div>
    <h3 class="no-bottom lead">Interests</h3>
    <hr class="resume-break">
    <ul class="indented fa-ul">
      <li><i class="fa-li fa fa-minus"></i>Software development</li>
      <li><i class="fa-li fa fa-minus"></i>Web design</li>
      <li><i class="fa-li fa fa-minus"></i>New technologies</li>
      <li><i class="fa-li fa fa-minus"></i>Music</li>
    </ul>
    <h3 class="no-bottom lead">Skills/Abilities</h3>
    <hr class="resume-break">
    <ul class="fa-ul indented">
      <li><i class="fa-li fa fa-minus"></i>Extensive knowledge of Ruby, HTML, CSS, and Javascript</li>
      <li><i class="fa-li fa fa-minus"></i>Proficiency in both Windows and UNIX environments</li>
      <li><i class="fa-li fa fa-minus"></i>Works well under pressure</li>
      <li><i class="fa-li fa fa-minus"></i>I am reliable and take commitment seriously</li>
      <li><i class="fa-li fa fa-minus"></i>I am creative and have robust problem-solving skills</li>
    </ul>
  </div>
  <div class="col-md-12">
    <h3>My resume is available in pdf form <a href="http://pcbarnes.com/resume/resume.pdf" target="blank">here</a></h3>
  </div>
</div>