/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: 'Open Sans Condensed' !important;
 }

 body {
  padding-top: 50px;
 }

.fa {
  font-family: FontAwesome !important;
}

.blue {
  color: #428bca;
}

.navbar-default {
  background-color: white !important;
  margin-bottom: 0px !important;
  border-bottom: 1px solid #C7C7C7;
  .navbar-nav li {
    a {
      font-size: 18px !important;
    }
  }
}

.header {
  background-color: #428bca;
  color: white;
  padding-bottom: 45px;
  padding-top: 45px;
  margin-bottom: 20px;
}

.title-head {
  font-size: 85px;
  text-shadow: 4px 2px #000000;
}

.emp {
  text-shadow: 2px 1px #2A6AA1;
}

.jumbotron {
  background-color: white !important;
  h1 {
    line-height: 85px;
  }
}

.no-bottom {
  margin-bottom: 0px !important;
}

.no-top {
  margin-top: 0px !important;
}

.text {
  line-height: 25px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
  font-family: 'Open Sans' !important;
  a {
    color: #555;
    font-family: 'Open Sans' !important;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  nav li {
    font-size: 75%;
  }
}

ul {
  list-style: none;
}

.long-text {
  font-family: "Open Sans" !important;
  font-weight: 300;
}


