/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $primary_blue: #2CA3F2;
 $darker_blue: #084B78;
 $dark_blue: #0F96F0;
 $light_blue: #3EAFFA;
 $gray: #707070;

@media all and (max-width: 766px) {
  .title-head, .jumbotron, .row, .about-head {
    text-align: center !important; 
  }
  blockquote {
    border-left: 0px !important;
    text-align: center;
  }
  .indented {
    padding-left: 0px !important; 
  }
  .resume {
    text-align: left !important;
  }
}

@media all and (max-width: 565px) {
  .title-head {
    font-size: 85px !important;
  }
  .about-head {
    font-size: 65px !important;
  }
}

@media all and (max-width: 392px) {
  .title-head {
    font-size: 65px !important;
  }

  .about-head {
    font-size: 32px !important;
  }
}

 * {
  font-family: 'Roboto' !important;
  font-weight: 100 !important;
  color: white;
 }

 body {
  background-color: $primary_blue;
  padding-top: 85px;
  margin-bottom: 40px;
 }

.fa {
  font-family: FontAwesome !important;
}

.navbar-default {
  background-color: rgba(52,152,219,0.7);
  margin-bottom: 0px !important;
  border-bottom: 0px;
  .navbar-nav li {
    a {
      font-size: 18px !important;
      color: white !important;
      font-weight: 400 !important;
    }
  }
}

.header {
  background-color: #428bca;
  color: white;
  padding-bottom: 45px;
  padding-top: 45px;
  margin-bottom: 20px;
}




.no-bottom {
  margin-bottom: 0px !important;
}

.no-top {
  margin-top: 0px !important;
}

.text {
  line-height: 25px;
}

ul {
  list-style: none;
}

.long-text {
  font-family: "Roboto" !important;
  font-weight: 300 !important;
}

.big {
  font-size: 65px;
}

.readable {
  font-size: 18px !important;
}

.dark_blue {
  background-color: $dark_blue;
  padding: 75px;
}

.darker_blue {
  background-color: $darker_blue;
  padding: 75px;
}

.light_blue {
  background-color: $light_blue;
  padding: 75px;
}

.primary_blue {
  background-color: $primary_blue;
  padding: 75px;
}

.shadow {
  text-shadow: 2px 2px #000000;
}

.spread {
  line-height: 75px;
}

.push-bottom {
  margin-bottom: 40px;
}

.highlight {
  color: white !important;
  transition: font-size 100ms ease-out;
  &:hover {
    text-decoration: none !important;
    text-shadow: 2px 2px #000000 !important;
    font-size: 110% !important;
  }
}

.alert-success {
  background-color: $dark_blue !important;
  border: 0px !important;
  border-radius: 0px !important;
  color: white !important;
}



