// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resume  {
  padding: 45px 55px 45px 55px;
  * {
    font-family: "Roboto" !important;
  }
}
hr.resume-break {
  margin-top: 5px !important;
}

.indented {
  padding-left: 50px;
}

.about {
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 40px !important;
}