// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resume * {
  font-family: "Open Sans" !important;
}
hr.resume-break {
  margin-top: 5px !important;
}

.indented {
  padding-left: 10px;
  padding-right: 10px;
}

.about {
  margin-right: 20px;
  margin-bottom: 15px;
}