<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-head"><%= yield(:title) %></h1>
        <blockquote><%= yield(:subtext) %></blockquote>
      </div>
    </div>
  </div>
</div>