%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    -# Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{ type: 'button', 'data-toggle' => 'collapse' }
        %span.sr-only
          Toggle navigation
        %i.fa.fa-bars
      %a.navbar-brand{ href: '/' }
        %i.fa.fa-home
    -# Collect nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{ href: '#', 'data-toggle' => 'dropdown' }
            Projects
            %b.caret
          %ul.dropdown-menu
            %li
              %a{ href: '/projects#gameroom' }
                Gameroom
            %li
              %a{ href: '/projects#swapzassets' }
                Swapz Assets
            %li
              %a{ href: '/projects#downincircles' }
                Down In Circles
        %li
          = link_to "Resume", resume_path
        %li
          = link_to "About", about_path
        %li
          = link_to "Contact", contact_path