%nav.navbar.navbar-default.navbar-fixed-top#smoothScroll{ role: 'navigation' }
  .container
    -# Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only
          Toggle navigation
        %i.fa.fa-bars
      %a.navbar-brand.smooth{ href: '/' } 
        %i.fa.fa-home
    -# Collect nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Projects", '#projects', class: "smooth"
        %li
          = link_to "About", '#about', class: "smooth"
        %li
          = link_to "Connect", '#connect', class: "smooth"